<article id="createPost">
  <div style="padding-top: 25px;">
    <a href="/dashboard"> &larr; Back to dashboard</a>
  </div>

  <div class="inBody" style="text-align: center; margin-top: 20px;">
    <h2 class="nPost">
      Edit Post
    </h2>
    <form class="edit-post-form">
      <div>
        <p>Title: <input id="post-title" name="post-title" type="text" value="{{post.title}}" /></p>
        <p>Content: <input id="content" name="content" type="text" value="{{post.content}}" /></p>

      </div>
      <div>
        Posted by you on {{format_date post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
      </div>
      <button type="submit">Save post</button>
      <button type="button" class="delete-post-btn">Delete post</button>
    </form>
  </div>

</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>